.container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    background-color: black;
    margin: 0 auto;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    color: white;
    box-shadow: white 0 0 10px;
}
button:active {
    background-color: #ff0000;
    color: white;
    box-shadow: white 0 0 10px;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #222;
}

#gameCanvas{
    border: solid black 2px;
    border-radius: 15px;
}

#pauseButton{
    background-color: rgb(63, 212, 33);
}
#resetButton{
    background-color: #cd4e4e;
}

.hidden{
    display: none;
}